@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    background-image: url("assets/topography.png");
    background-attachment: fixed;
    background-size: 600px 600px;
    margin: 0;
    font-family: "consolas", "courier";
    /* default font size */
    font-size: 180%;
}

h1, h2, h3 {
    font-family: "Roboto Slab", "consolas", "courier";
}

h1 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.4em;
    font-weight: normal;
    line-height: 100%;
}

h2 {
    font-size: 1.6em;
    margin-top: 0px;
    text-align: center;
}

dt {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 30px;
}

dd {
    font-size: 0.75em;
    margin-bottom: 50px;
    line-height: 180%;
}

#navbar a {
    font-size: 0.85em;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
}

#navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #333333;
    padding-top: 22px;
    padding-bottom: 22px;
    /* 100% - left/right paddings */
    width: 80%;
}

#navbar, #content {
    padding-left: 10%;
    padding-right: 10%;
}

#content {
    padding-top: 170px;
}

#navbar img {
    transform: scale(1.5);
}

h3, #navbar a {
    color:#ff0099;
}

#navbar span {
    text-align: center;
}

.separator {
    line-height: 600%;
    text-align: center;
}
